<main class="grid grid-cols-2 h-screen w-full">
  <div class="flex flex-col items-center justify-center">
    <img src="assets/login.svg" alt="Login image" class="w-3/4" />
  </div>

  <section class="flex flex-col items-center justify-center">
    <div class="card w-2/3 shadow-xl">
      <div class="card-body">
        <app-logo test="text-3xl" />

        <p class="uppercase text-xs text-center font-semibold mb-4">
          login to your account
        </p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Username -->
          <div class="mb-3">
            <label class="form-control w-full">
              <div class="label">
                <span class="label-text">Username</span>
              </div>
              <input
                type="text"
                placeholder="Enter employee id"
                class="input input-bordered w-full"
                formControlName="username"
                [ngClass]="
                  f['username'].errors && f['username'].touched
                    ? 'input-error'
                    : ''
                "
              />
              @if (f['username'].errors && f['username'].touched) {
              <div class="label">
                @if (f['username'].errors['required']) {
                <span class="label-text-alt text-error">
                  Username is required
                </span>
                } @if (f['username'].errors['incorrect']) {
                <span class="label-text-alt text-error">
                  Incorrect email or password
                </span>
                }
              </div>
              }
            </label>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label class="form-control w-full">
              <div class="label">
                <span class="label-text">Password</span>
              </div>
              <input
                type="password"
                placeholder="********"
                class="input input-bordered w-full"
                formControlName="password"
                [ngClass]="
                  f['password'].errors && f['password'].touched
                    ? 'input-error'
                    : ''
                "
              />
              @if (f['password'].errors && f['password'].touched) {
              <div class="label">
                @if (f['password'].errors['required']) {
                <span class="label-text-alt text-error">
                  Password is required
                </span>
                }
              </div>
              }
            </label>
          </div>

          <!-- Submit -->
          <div class="mt-8">
            <button
              type="submit"
              class="btn btn-primary uppercase w-full flex items-center gap-2"
              [disabled]="loading"
            >
              <span>login</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
