<dialog id="add-device" class="modal">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="modal-box w-11/12 max-w-5xl"
  >
    <h3 class="font-bold text-gray-800 text-lg">Add New Device</h3>

    <div class="w-full grid grid-cols-2 mt-5">
      <div class="space-y-2">
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text text-gray-800">Model:</span>
          </div>
          <input
            type="text"
            placeholder=""
            class="input input-sm py-5 input-bordered w-full max-w-xs"
            formControlName="model"
            [ngClass]="
              f['model'].errors && f['model'].touched ? 'input-error' : ''
            "
          />
          @if (f['model'].errors && f['model'].touched) {
          <div class="label">
            @if (f['model'].errors['required']) {
            <span class="label-text-alt text-error"> Model is required </span>
            }
          </div>
          }
        </label>

        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text text-gray-800">Tag Number:</span>
          </div>
          <input
            type="text"
            placeholder=""
            class="input input-sm py-5 input-bordered w-full max-w-xs"
            formControlName="tagNumber"
            [ngClass]="
              f['tagNumber'].touched && f['tagNumber'].errors
                ? 'input-error'
                : ''
            "
          />
          @if (f['tagNumber'].touched && f['tagNumber'].errors) {
          <div class="label">
            @if (f['tagNumber'].errors['required']) {
            <span class="label-text-alt text-error">
              Tag number is required
            </span>
            } @if (f['tagNumber'].errors['incorrect']) {
            <span class="label-text-alt text-error">
              Tag number already exist
            </span>
            }
          </div>
          }
        </label>

        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text text-gray-800">Serial Number:</span>
          </div>
          <input
            type="text"
            placeholder=""
            class="input input-sm py-5 input-bordered w-full max-w-xs"
            formControlName="serialNumber"
          />
        </label>

        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text text-gray-800">Remarks:</span>
          </div>
          <textarea
            placeholder="something to take note"
            class="textarea textarea-bordered w-full max-w-xs"
            formControlName="remarks"
          ></textarea>
        </label>
      </div>

      <div class="space-y-2">
        <div class="mb-8">
          <label htmlFor="" class="label label-text text-gray-800 mb-2">
            What is the status of this device?
          </label>

          <div class="">
            <label class="flex gap-2 items-center cursor-pointer mb-2">
              <input
                type="radio"
                class="radio checked:bg-primary"
                value="AVAILABLE"
                formControlName="status"
                checked
                [ngClass]="f['status'].errors ? 'input-error' : ''"
              />
              <span class="label-text">Available</span>
            </label>
            <label class="flex gap-2 items-center cursor-pointer mb-2">
              <input
                type="radio"
                class="radio checked:bg-primary"
                value="NOT_AVAILABLE"
                formControlName="status"
                [ngClass]="f['status'].errors ? 'input-error' : ''"
              />
              <span class="label-text">Not available</span>
            </label>
            <label class="flex gap-2 items-center cursor-pointer mb-2">
              <input
                type="radio"
                class="radio checked:bg-primary"
                value="MISSING"
                formControlName="status"
                [ngClass]="f['status'].errors ? 'input-error' : ''"
              />
              <span class="label-text">Missing</span>
            </label>
            <label class="flex gap-2 items-center cursor-pointer mb-2">
              <input
                type="radio"
                class="radio checked:bg-primary"
                value="DEFECTIVE"
                formControlName="status"
                [ngClass]="f['status'].errors ? 'input-error' : ''"
              />
              <span class="label-text">Defective</span>
            </label>
          </div>
        </div>

        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Category</span>
          </div>
          <select class="select select-bordered" formControlName="categoryId">
            @for (category of categories; track $index) {
            <option [ngValue]="category.id">
              {{ category.name }}
            </option>
            }
          </select>
          @if (f['categoryId'].errors && f['categoryId'].touched) {
          <div class="label">
            <span class="label-text-alt text-error">Category is required</span>
          </div>
          }

          <button
            type="button"
            (click)="addCategoryModal()"
            class="btn btn-xs flex items-center gap-2 w-1/2 mt-2"
          >
            <ng-icon name="matPlusOutline" class="w-5 h-5"></ng-icon>
            <span>Add Category</span>
          </button>
        </label>
      </div>
    </div>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn" (click)="onReset()">Close</button>
      </form>

      <button type="submit" class="btn btn-primary">Add Device</button>
    </div>
  </form>
</dialog>

<dialog id="add-category" class="modal">
  <form
    [formGroup]="categoryForm"
    (ngSubmit)="onAddCategory()"
    class="modal-box"
  >
    <h3 class="font-bold text-gray-800 text-lg">Add Category</h3>

    <div class="w-full mt-5">
      <div class="space-y-2">
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text text-gray-800">Name</span>
          </div>
          <input
            type="text"
            placeholder=""
            class="input input-sm py-5 input-bordered w-full max-w-xs"
            formControlName="name"
          />
          @if (categoryForm.get('name')?.errors &&
          categoryForm.get('name')?.touched) {}
          <div class="label">
            @if (categoryForm.get('name')?.errors?.['required']) {
            <span class="label-text-alt text-error">Name is required</span>
            } @else if (categoryForm.get('name')?.errors?.['conflict']) {
            <span class="label-text-alt text-error">Name already exist</span>
            }
          </div>
        </label>
      </div>
    </div>

    <div class="modal-action mt-5">
      <form method="dialog">
        <button class="btn" (click)="categoryForm.reset()">Close</button>
      </form>

      <button type="submit" class="btn btn-primary flex gap-2 items-center">
        <span>Add</span>
      </button>
    </div>
  </form>
</dialog>
